<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<title>Test Page</title>

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="entry-content">
		<div class="sixteen columns center">

      <img src="/images/728x90.png" width="728" height="90">
		</div>

		<div class="sixteen columns">
			<h1>Dell Now Shipping Alienware Alpha 'Console'</h1>
		</div>

		<div class="two-thirds column">
<p>Dell's Alienware division announced on Friday that it is now shipping the Alienware Alpha gaming console. The Alpha was originally marketed as a Steam Machine earlier this year, but given that the Steam controller still isn't finalized (which is a Steam Machine requirement), the company has decided to ship Alpha with an Xbox 360 Wireless Controller instead.</p>
		</div>
		<div class="one-third column">
      <p><img src="/images/300x250.png" width="300" height="250"></p>
		</div>

		<div class="two-thirds column">
      <p><img src="/images/610x300.png" width="610" height="300"></p>
		</div>

		<div class="one-third column">
<p>Although the Steam Machine initiative calls for one hardware configuration that can be easily upgraded, Dell is offering four Alpha models costing $549, $699, $799 and $899. The cheapest model includes an Intel Core i3-4130T dual-core processor clocked up to 2.9 GHz, an Nvidia GeForce GTX GPU with 2 GB of GDDR5 VRAM, and 4 GB of DDR3L 1600 MHz memory. This configuration also provides 500 GB of internal storage.</p>
		</div>

		<div class="sixteen columns">
			<p>For the $699 model, Dell has doubled the memory to 8 GB and doubled the internal storage to 1 TB; the other hardware specs remain the same. However, for the $799 model, Dell has thrown in a zippier Intel Core i5-4590T quad-core processor clocked up to 3.0 GHz as well as the double memory and double storage.</p>
		</div>

		<div class="sixteen columns">
<p>As for the $899 version, it's based on the Intel Core i7-4765T quad-core processor clocked up to 3.0 GHz, and an Nvidia GeForce GTX GPU with 2 GB of GDDR5 RAM. The console also includes 8 GB of DDR3L 1600 MHz RAM and 2 TB of internal storage.</p>
		</div>

		<div class="sixteen columns">
			<p>According to the specifications, all four models come packed with Wireless AC and Bluetooth 4.0 connectivity. There are also a number of ports including two USB 2.0 ports on the front, two USB 3.0 ports on the back, gigabit Ethernet, HDMI 1.4a output, HDMI input and optical audio out. There's also a USB 3.0 connection that can be accessed through the "tool-less" bottom door.</p>
		</div>

		<div class="sixteen columns">
			<p>The beauty here is that Alpha owners can play their favorite PC titles using a gamepad, or go old school and plug in a keyboard and mouse. This console is also designed to be easily upgradeable, allowing users to swap out the processor and maximize the memory capacity. Can you do that with the Xbox One or PlayStation 4? No.</p>
		</div>

		<div class="sixteen columns">
			<p>What will be curious to see is how customers will flock to the Dell console. Will the Alpha sell like any other computer, or will it give the Xbox One and PlayStation 4 a hard time on the console market? Given how developers and publishers are giving the PC platform more attention now that the current generation of consoles is more PC-like, it may still be a long while before solutions like the Alpha can conquer the living room. Still, Dell is off to a great start thanks to the Alpha console.</p>
		</div>

		<div class="sixteen columns">
			<p>"We've been working hard this past year to break the mold and develop a system that finally brings hundreds of Steam games, including some really fun indie titles, to TVs," said Frank Azor, General Manager of Alienware.</p>
		</div>

		<div class="sixteen columns">
			<p>Customers wanting to get their hands on an Alienware Alpha can do so at select Fry's and Walmart locations. Those who would rather order the console online can do so at the following locations listed below, provided by Dell:<br/>
      <ul>
		<li>Amazon</li>
		<li>Bestbuy.com</li>
		<li>Fry's Electronics</li>
		<li>GameStop</li>
		<li>NewEgg</li>
		<li>SamsClub.com</li>
		<li>TigerDirect</li>
		<li>Walmart</li>
      </ul>
      </p>
		</div>

		<div class="sixteen columns">
      <p>Tom's Hardware plans to review the Alienware Alpha soon, so stay tuned. Meanwhile, here's a hands-on view that took place during E3 2014 back in June.</p>
		</div>


    </div><!-- container -->
  </body>
</html>
